*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #222222; 
    width: 100%;
    height: 85px;
}

.header-apple-logo{
    display: flex;
    justify-content: flex-start;
    padding: 22px 25px;
    margin-left: 15px;
}
.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    font-size: 18px;
    display: flex;
    gap: 7em;
    list-style: none;
    color: white;
    font-weight: 600;
}
ul:hover{
    cursor: pointer;
    color: rgb(235, 235, 235);
}
.header-loupe{
    display: flex;
    justify-content: flex-end;
    padding: 28px 28px;
    margin-right: 15px;    
}

.middle-title{
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-left: 40px;
    padding: 35px 0px;
}

.presentoir{
    display: flex;
    flex: 1 1 1;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.affiche{
    width: 500px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.image-affiche{
    width: 100%;
    object-fit: cover;
}
.titre-affiche{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 16px;
}
.description-affiche{
    font-size: 14px;
    padding: 8px 14px;
}
.bottom-affiche{
    display: flex;
    justify-content: space-between;
    padding: 6px 12px;
}
.bottom-affiche p{
    font-size: 12px;
}
.bottom-page{
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
    background-color: #222222;
    color: white;
    font-size: 12px;
}
.mentions{
    text-decoration: underline;
}
.credits:hover{
    cursor: pointer;
    color: rgb(231, 229, 229);
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: #6cf;
 }